.notfound-header{
    h2{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    margin-bottom: 2rem;
}
.notfound{
    background-color: #19bc9c;
    color: white;
}
